@model IEnumerable<CSDLPT.Web.Models.DoiBong>
@{
    ViewData["Title"] = "Đội bóng";
}
<h2>@ViewData["Title"]</h2>

@if (TempData["ok"] is string ok)
{
    <div class="alert alert-success">@ok</div>
}

<p>
    <a class="btn btn-primary" asp-action="Create">+ Thêm đội bóng</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Mã DB</th>
            <th>Tên đội</th>
            <th>Mã sân</th>
            <th>HLV</th>
            <th>CLB</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.MaDB</td>
                <td>@x.TenDB</td>
                <td>@x.MaSan</td>
                <td>@x.HLV</td>
                <td>@x.CLB</td>
                <td class="text-nowrap">
                    <a class="btn btn-sm btn-outline-secondary"
                       asp-action="Edit" asp-route-id="@x.MaDB" asp-route-clb="@x.CLB">Sửa</a>
                    <a class="btn btn-sm btn-outline-danger"
                       asp-action="Delete" asp-route-id="@x.MaDB" asp-route-clb="@x.CLB">Xóa</a>

                </td>
            </tr>
        }
    </tbody>
</table>
